# .json files should be marked as JavaScript.
*.json linguist-language=JavaScript 

# .json5 files should be marked as JSON5.
*.json5 linguist-language=JSON5

# .yml files should be marked as YAML.
*.yml linguist-language=YAML

# .toml files should be marked as TOML.
*.toml linguist-language=TOML

# .jar and .properties files should both be marked as Java.
*.jar linguist-language=Java
*.properties linguist-language=Java

# .txt files should be marked as Text.
*.txt linguist-language=Text

# Attempt to make these files not available upon cloning/download.
README.md export-ignore
LICENSE export-ignore
.gitattributes export-ignore
.github/ISSUE_TEMPLATE export-ignore
.github export-ignore
