#
# Configuration file extensions.
#
*.cfg           linguist-detectable=true
*.json          linguist-detectable=true
*.json5         linguist-detectable=true
*.properties    linguist-detectable=true
*.toml          linguist-detectable=true
*.yml           linguist-detectable=true
#
# Document file extensions.
#
*.md       linguist-detectable=true
*.txt      linguist-detectable=true
#
# Binaries and other file extensions.
#
*.jar               linguist-detectable=true
*.png               binary
*.zip               binary
.gitattributes      text
LICENSE             text
#
# Attempt to make these files not available upon cloning/download.
#
.git export-ignore
.gitattributes export-ignore
sources export-ignore
sources/jvm_arguments.md export-ignore
sources/mods_used.md export-ignore
sources/sources_list.md export-ignore
