#
# Update configuration goes here.
#

checkforupdates: false

#
# Supported version ping configuration goes here.
#

send-supported-versions: true

#
# Versions we should not support for this client, there are multiple reasons why we do this:
#
# 1. The specific versions constantly create connection errors and fail to establish a proper connection.
# 2. There are multiple bugs left-and-right that these versions have which causes inconsistent performance, issues with gameplay, etc.
# 3. Support for these have been dropped since similar to hypixel's approach; hence the reason why we also follow along.
#

block-protocols: []
block-versions:
- 1.7-1.7.5
- 1.7.6-1.7.10
- '1.9'
- 1.9.1
- 1.9.2
- 1.9.3/4
- 1.10.x
- '1.11'
- 1.11.2
- '1.13'
- 1.13.1
- 1.13.2

#
# Messages that should be displayed to the player when disconnected by Via* itself,
# This includes a switch if we want to debug conversions or not.
#

block-disconnect-msg: This version cannot be used for this server as it is not supported.
reload-disconnect-msg: This server has been reloaded, Please connect back to the server again.
suppress-conversion-warnings: true

#
# Watchdog-Related configuration goes here,
#
# Since this is known for being annoying with a burning passion, the delay is increased by a long-shot unless
# the server is in a cold state then feel free to modify this yourself.
#

max-pps: -1
max-pps-kick-msg: Something went wrong with your connection!
tracking-period: -1
tracking-warning-pps: 50000
tracking-max-warnings: 500000
tracking-max-kick-msg: Something went wrong with your connection!

#
# ViaFabric patches for 1.9.x go here,
#
# This contains a list of patches that are used to try and workaround problems that previous 1.9.x clients have been getting without them,
# While this will not end up in a perfect shape, this will make an attempt on improving critical problems with specific clients.
#

1_13-tab-complete-delay: 3
cache-1_17-light: true
chat-nbt-fix: true
disable-1_13-auto-complete: true
fix-1_14-health-nan: true
fix-infested-block-breaking: true
fix-low-snow-collision: true
fix-non-full-blocklight: true
flowerstem-when-block-above: false
forced-use-1_17-resource-pack: true
hologram-patch: true
hologram-y: -0.96
ignore-long-1_16-channel-names: true
piston-animation-patch: true
reduce-blockstorage-memory: false
resource-pack-1_17-prompt: This server requires the resource pack to be enabled in order to display other contents properly.
serverside-blockconnections: true
team-colour-fix: true
truncate-1_14-books: true
use-1_15-instant-respawn: false
vine-climb-fix: true

#
# ViaFabric patch (1.8+) configuration goes here,
#
# This is a similarity to the 1.9.x patches but related to just 1.8.x and prior instead,
# But we will use these patches along in case anything else is missing.
#

auto-team: false
bossbar-anti-flicker: false
bossbar-patch: true
chunk-border-fix: true
force-json-transform: true
item-cache: true
left-handed-handling: true
minimize-cooldown: true
no-delay-shield-blocking: false
prevent-collision: false
replace-pistons: false
replacement-piston-id: 0
shield-blocking: true
show-shield-when-sword-in-hand: true
simulate-pt: true
suppress-metadata-errors: true
use-new-deathmessages: true
use-new-effect-indicator: true

#
# Specifies the world names so that the client can remember what they actually are.
#

map-1_16-world-names:
  atlantis: atlantis:atlantis
  blended_world: world_blender:world_blender
  bright_overworld: daylightdimension:daylight_dimension
  bsr: bsr:bsr
  bsr_orbit: bsr:overworld_orbit
  bumblezone: the_bumblezone:the_bumblezone
  cave_world: mining_dims:caving_dim
  dark_dungeon: dimdoors:dungeon_pockets
  dark_ocean: agape:europa_ocean
  end: minecraft:the_end
  europa: agape:europa_surface
  fraiya: lint:fraiya
  ganymede: agape:ganymede
  hunting_world: mining_dims:hunting_dim
  io: agape:io
  limbo: dimdoors:limbo
  mercury: agape:mercury
  mining_horizon: minershorizon:miners_horizon
  mining_nether_world: mining_dims:nethering_dim
  mining_world: mining_dims:mining_dim
  moon: agape:moon_surface
  nectere: hotm:nectere
  nether: minecraft:the_nether
  orbit: agape:overworld_orbit
  overgrown: overgrowncities:overgrowth
  overworld: minecraft:overworld
  prehistoric: eymbra:prehistoric
  red_planet: agape:red_planet
  scale_vacuum: scalevacuum:scale_vacuum
  simple_void: simplevoidworld:simplevoidworld
  space: astromine:earth_space
  starship: agape:starship_1
  the_hallow: thehallow:spooky
  the_private_room: dimdoors:personal_pockets
  the_public_room: dimdoors:public_pockets
  titan: agape:titan
