#
# Update configuration goes here.
#
checkforupdates: false
#
# Core configuration goes here.
#
send-supported-versions: false
block-protocols:
- 393
- 5
- 4
block-disconnect-msg: This protocol version cannot be used for this server.
reload-disconnect-msg: This server has been reloaded, Please connect again.
suppress-conversion-warnings: true
#
# Watchdog-Related configuration goes here.
#
max-pps: -1
max-pps-kick-msg: Something went wrong with your connection!
tracking-period: -1
tracking-warning-pps: 50000
tracking-max-warnings: 500000
tracking-max-kick-msg: Something went wrong with your connection!
#
# ViaFabric patch (1.9+) configuration goes here.
#
hologram-patch: true
hologram-y: -0.96
piston-animation-patch: true
chat-nbt-fix: true
team-colour-fix: true
disable-1_13-auto-complete: true
1_13-tab-complete-delay: 0
fix-low-snow-collision: true
fix-infested-block-breaking: true
truncate-1_14-books: true
fix-non-full-blocklight: true
fix-1_14-health-nan: true
use-1_15-instant-respawn: false
serverside-blockconnections: true
reduce-blockstorage-memory: false
flowerstem-when-block-above: false
vine-climb-fix: true
ignore-long-1_16-channel-names: true
forced-use-1_17-resource-pack: false
#
# ViaFabric patch (1.8+) configuration goes here.
#
prevent-collision: true
auto-team: false
suppress-metadata-errors: true
shield-blocking: true
no-delay-shield-blocking: false
show-shield-when-sword-in-hand: true
simulate-pt: true
bossbar-patch: true
bossbar-anti-flicker: false
use-new-effect-indicator: true
use-new-deathmessages: true
item-cache: true
replace-pistons: true
replacement-piston-id: 0
force-json-transform: true
minimize-cooldown: true
left-handed-handling: true
